.navbar-nav .nav-link {
  color: black;
}
.glass-navbar {
  background: rgba(233, 226, 226, 0.2);
  backdrop-filter: blur(10px);
}
.navbar-nav .nav-link:hover {
  color: #2e9175;
}
.navbar-nav .nav-link:active {
  color: #2e9175;
}
/* Show More buttun */
#show-more {
  background-color: #2e9175;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

#show-more:hover {
  background-color: #22b68c;
  transform: scale(1.05);
}
/* Video background styling */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Glass effect for the card */
.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #555;
}
.spanoflogin {
  color: #22b68c;
}
.form-control:focus {
  outline: none;
  border-left: 4px solid #34ddad !important;
  box-shadow: 0 0 0 0.2rem #22b68c73 !important;
}
.form-check-input:checked {
  background-color: #34ddad !important;
  border-color: #34ddad !important;
  box-shadow: 0 0 0 0.2rem #22b68c73 !important;
}
.login-container {
  height: 100vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .glass-card {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .glass-card {
    width: 400px;
  }
}
