* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glass-navbar {
  background: rgba(248, 241, 241, 0.582);
  backdrop-filter: blur(5px);
}
/* style of dashboard */
.sidebar {
  position: fixed;
  top: 44px;
  left: 0;
  height: calc(100% - 48px);
  width: 215px;
  color: black;
  transition: width 0.3s ease;
}

.glass-sidebar {
  background: rgba(248, 241, 241, 0.582);
  backdrop-filter: blur(5px);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.sidebar .profile img {
  margin-right: 15px;
}

.sidebar .nav-link {
  font-size: 0.9rem;
  color: black;
  display: block;
  white-space: nowrap;
}
.sidebar .nav-link:hover {
  color: #45a8a2;
}

.active-item {
  color: #45a8a2 !important;
}
@media (max-width: 768px) {
  #sidebar {
    width: 50px;
  }
  .sidebar .profile {
    flex-direction: column;
  }
  .sidebar .profile img {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
  .sidebar .profile h5 {
    display: none;
  }
  .sidebar .nav-link {
    padding-left: 0;
  }
  .sidebar .nav-link i {
    margin-right: 0;
  }
  .sidebar .nav-link span {
    display: none;
  }
  .chart1 {
    justify-content: center;
  }
}

h5 {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.5rem;
}
/* style of main content */
main {
  margin-top: 150px;
}
.main-t {
  margin-top: 70px;
}
.chart1 {
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px rgb(219, 217, 217);
  padding: 20px;
}
.chart-container {
  position: relative;
  margin-top: 20px;
}
